@charset "utf-8";
/* CSS Document */

a {
   color: white;
   font-weight: 300;
   letter-spacing: 2px;
   text-decoration: none;
   background:  hsla(213,100%,14%,0.00);
   padding: 20px 5px;
   display: inline-block;
   width: 100%;
   text-align: center;
   color: hsla(0,0%,0%,1.00)
}
a:hover {
   background:  hsla(213,100%,14%,1.00);
    color: hsla(0,0%,100%,1.00);
}
.main {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 3em 1.5em;
}
.navigation ul {
   border: 1px solid hsla(213,100%,14%,1.00);
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}
.navigation li {
   flex: 3;    
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
/*gallery_flex*/
.partion_flex div div {
  display: flex;
  flex-wrap: wrap; }
/*
  .gallery_flex div div > div {
    margin: 10px; }
*/
  .partion_flex div div div div {
    overflow: hidden;
    padding: 0px; }
    .partion_flex div div div div img {
      align-self: center !important;
      height: auto;
      max-width: 100%;
      width: 100%;
      transform: scale(1);
      transition: transform .4s ease-in-out;
      /* zoom effect*/ }
    .partion_flex div div div div:hover img {
      transform: scale(1.03);
      /*zoom effect*/ }
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;}
.justify-content-center {
  justify-content: center !important; }
footer{
  display: block; }
h5{margin: 0}
.back_yellow{
    background-color: hsla(60,100%,75%,1.00)
}
.back_green{
    background-color: hsla(120,100%,75%,1.00)
}
.back_blue{
    background-color: hsla(240,100%,75%,1.00)
}
.back_red{
    background-color: hsla(0,100%,75%,1.00)
}



@media all and (max-width: 1000px) {
   .navigation ul {
      flex-wrap: wrap;
   }
   
   .navigation li {
      flex: 1 1 50%;
   }

   .navigation .user {
      flex: 1 1 33.33%;
   }
}

@media all and (max-width: 480px) {
   .navigation li {
      flex-basis: 100%;
   }

   .navigation .user {
      flex-basis: 50%;
   }
}




