@charset "utf-8";
/* CSS Document */
body{font-family:serif;margin: 0px!important;padding: 15px;}	
h1{font-family: 'Playfair Display SC', serif;}
.parent {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-end;
	height: 500px; 
	width: 800px;
	background-color: aqua;
}
.parent2 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch /*felx-start | flex-end | center | baseline | stretch*/;
	height: 600px; 
	width: 960px;
	background-color: aqua;
}    

.child {
	width: 200px;
	height: 200px;
	padding: 0px;
	background-color: #7F7F7F;
	
}
.childd {
	width: 150px;  
	/*height: 150px;*/
	padding: 5px;
	background-color: #7F7F7F;
	
}    
.child2{
    align-self: flex-start;
} 
	.child11{
		order:2;
	}
	.child22{
		order:3;
		margin-left: auto;
	}
	.child33{
		order:1;
	}    
	.yellow{
		background: rgba(255,155,11,1.00);
		position: absolute;
		top:50px;
		left:70px;
		width: 300px;
		height: 200px;
		z-index: 3;
	}
	.purple{
		background: rgba(250,67,255,1);
		position: absolute;
		top:100px;
		left:150px;
		width: 300px;
		height: 200px;
		z-index: 1;
		
	}
	.green{
		background: rgba(0,168,124,1.00);
		position: absolute;
		top:200px;
		left:250px;
		width: 300px;
		height: 200px;
		z-index: 2;
	} 
    .yellow2 {
	background: rgba(255,155,11,1.00);
	position: relative;
	/*top: 50px;
	left: 70px;*/
	width: 500px;
	height: 500px;
	
}
.purple2 {
	background: rgba(250,67,255,1);
	position: absolute;
	bottom: -50px;
	right: -50px;
	width: 300px;
	height: 300px;
	
}
.green2 {
	background: rgba(0,168,124,1.00);
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100px;
	height: 100px;
	
}

